* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    padding: 120px 0;
}

.container {
    width: 1200px;
    padding: 50px 0;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.9;
    width: 100%;
    height: 90px;
    background: linear-gradient(to right, #333b1b, #768138);
    box-shadow: 0 6px #20250e;
}

header .container {
    display: flex;
    width: 90%;
    padding: 0;
}

.header-title {
    display: block;
    width: 240px;
    color: white;
    font-size: 48px;
    line-height: 90px;
    letter-spacing: 2px;
    text-align: center;
}

.header-title:hover {
    background: #313a1b;
    transition: all 1s;
}

.task {
    display: flex;
    background: linear-gradient(to right, #506b1f, #98aa68);
    width: 1320px;
    height: 90px;
    padding: 0 30px;
    border-left: 20px solid #151a0b;
    border-radius: 10px;
    margin: 30px auto;
    box-shadow: 5px 5px #2b311d;
}

.task::before {
    position: relative;
    top: 14px;
    left: 1317px;
    float: left;
    background: white;
    width: 60px;
    height: 60px;
    border-left: 6px solid #08132b;
    border-bottom: 6px solid #08132b;
    border-radius: 5px;
    content: '';
    transform: rotate(42deg);
}

.task-title {
    color: white;
    font-size: 54px;
    line-height: 90px;
    letter-spacing: 2px;
}

.arrow {
    margin-left: auto;
}

.arrow i {
    background: white;
    margin: 15px 30px;
    border-radius: 50%;
    box-shadow: 3px 3px #1f2712;
    color: #2d3a18;
    font-size: 60px;
}

.arrow i:hover {
    background: #2e3f18;
    color: white;
    transition: all 1s;
}

.arrow i:active {
    position: relative;
    top: 3px;
    left: 0;
    border: none;
}
.class {
    color: orange;
}
.id {
    color: green;
}

main ol li {
    color: blue;
    font-size: 28px;
    margin-bottom: 25px;
}

.task-18 #test a {
    color: red;
    text-decoration: none;
}
.task-18 a:hover {
    color: blue;
    text-decoration: underline;
}

.task-19 a[class="www"] {
    color: blue;
    text-decoration: underline;
}
.task-19 a[class="www"]:hover {
    text-decoration: none;
}

.task-20 #test a[class="www"] {
    color: red;
}
.task-20 #test a[class="www"]:hover {
    color: skyblue;
    text-decoration: underline;
}

.task-21 .eee a[class="www"] {
    color: pink;
}
.task-21 .eee a[class="www"]:hover {
    color: yellowgreen;
    text-decoration: underline;
}